@{
    ViewBag.Title = "Home Page";
}
@model VideosDemo.Models.CheckingAccount

<div class="jumbotron">
    <h2>My Home Page</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my HomePage!</h2>
        <p class="lead">
            This site contains the First ever web based ATM powered by ATM.NET
        </p>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo; Below is a facebook like button</a></p>
        
        <div class="fb-like col-md-4"
             data-share="true"
             data-width="450"
             data-show-faces="true">
        </div>
    </div>
    
</div>